.project {
    span.project-header {
        text-align: center;
    }

    div {
        margin-bottom: 20px;
    }

    p {
        margin-left: 20px;
        margin-top: 0px;
    }

    span.project-footer {
        display: flex;
    }
}