.nav {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: 44px;
}

.container-2 {
  position: static;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav-button {
  display: none;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-button-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 1px;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link.logo {
  width: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url('../images/Screen-Shot-2022-04-03-at-4.07.01-PM.png');
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 88px;
  font-weight: 400;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.nav-link.contact {
  display: none;
}

.title-header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inconsolata, monospace;
}

.heading {
  margin-top: 60px;
  padding-right: 574px;
  padding-left: 0px;
  font-family: Inconsolata, monospace;
  font-size: 55px;
}

.heading-2 {
  font-size: 120px;
}

.typed-text {
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 120px;
}

.class-container {
  max-width: 986px;
  margin-right: auto;
  margin-left: auto;
}

.heading-4 {
  position: static;
  width: 835px;
  margin: 60px auto;
  font-family: Inconsolata, monospace;
  font-size: 36px;
}

.delimiter {
  width: 100%;
  height: 15px;
  max-width: 980px;
  margin: 0px auto;
  background-color: #f5f5f5;
}

.about-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.github-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 50px;
  margin-left: 24px;
  padding: 4px 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #0071e3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.source-code-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.github-link-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 125px;
  height: 33px;
  margin-left: 24px;
  padding: 4px 11px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 12px;
  background-color: #0071e3;
  color: #fff;
  font-size: 24px;
}

.learn-more-link {
  margin-left: 24px;
  font-size: 24px;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .mobile-nav-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 7px;
  }

  .mobile-button-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    height: 1px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
  }

  .nav-link {
    display: none;
  }

  .nav-link.logo {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-size: auto 32px;
  }

  .nav-link.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 17px;
    background-image: url('../images/2055904.png');
    background-position: 50% 50%;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 32px;
  }
}

