.nav {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: 44px;
}

.container {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-nav-button {
  display: none;
  width: 30px;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-button-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  text-decoration: none;
}

.nav-link.logo {
  background-image: url('../images/Screen-Shot-2022-04-03-at-4.07.01-PM.png');
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.title-nav {
  position: relative;
  top: 0px;
  z-index: 999999;
  width: 100%;
  height: 52px;
  background-color: #f5f5f5;
}

.title-nav-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-nav-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
}

.title-nav-link {
  margin-left: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  text-decoration: none;
}

.about-details {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 0px;
  background-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.content-item {
  max-width: 986px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}

.heading-2 {
  text-align: center;
}

.paragraph {
  margin-top: 30px;
  text-align: center;
}

.social-media-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/apple_mail.png');
  background-position: 50% 50%;
  background-size: 128px 128px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.link {
  width: 128px;
  height: 128px;
  background-image: url('../images/apple_phone.png');
  background-position: 50% 50%;
  background-size: auto;
}

.social-image {
  width: auto;
  height: auto;
  padding-right: 0px;
  background-image: url('../images/apple_phone.png');
  background-position: 50% 50%;
  background-size: 128px 128px;
  background-repeat: no-repeat;
}

.media-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.media-icon {
  background-image: url('../images/apple_mail.png');
  background-position: 50% 50%;
  background-size: 64px 64px;
}

.media-icon.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  background-image: url('../images/apple_phone.png');
  background-repeat: no-repeat;
  text-decoration: none;
}

.media-icon.mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.media-icon.github {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  background-image: url('../images/github.png');
  background-repeat: no-repeat;
  text-decoration: none;
}

.media-icon.instagram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  background-image: url('../images/instagram.png');
  background-repeat: no-repeat;
  text-decoration: none;
}

.media-icon.linkedin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  background-image: url('../images/linkedin.png');
  background-repeat: no-repeat;
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .mobile-nav-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-link {
    display: none;
  }

  .nav-link.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-link.unique {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .title-nav-menu {
    display: none;
  }

  .heading {
    font-size: 44px;
  }
}